@mixin flexCenter($alignItems, $justifyContent) {
	display: flex;
	align-items: $alignItems;
	justify-content: $justifyContent;
}

@mixin heroImg($gradient, $img) {
	background-image: $gradient, url($img);
	background-size: cover;
	background-position: center;
}
