$accentColor: #bcd150;
$darkColor: #1c1c1c;
$whiteColor: #ffffff;

$opacityBlackGradient: linear-gradient(45deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7));
$darkGradient: linear-gradient(45deg, #000000, #1c1c1c);
